* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-page {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: rgb(194, 224, 194);
}

.main-box {
  margin: 0 auto;
  width: 1000px;
  min-height: 600px;
  display: flex;
  padding: 50px 0;
  justify-content: left;
}
.side-menu {
  width: 150px;
  min-height: 500px;
  background-color: white;
  border-radius: 5px;
  padding: 50px 20px;
}
.side-menu > p{
	font-weight: bold;
}


.main-box > section {
  margin: 0 10px;
  width: 850px;
  min-height: 500px;
  border-radius: 5px;
  background-color: white;
  padding: 50px 0;
}
.register-btn {
  text-align: right;
  padding-right: 30px;
}

.button {
  margin: 0 10px;
  color: white;
  background-color: rgb(72, 72, 214);
  border: none;
  border-radius: 5px;
  padding: 3px 20px;
}
.button_td{
	padding: 2px 5px;
}
.main-box > section > table{
	margin : 0 auto;
}

.main-box > section > table th {
  color: white;
  background-color: rgb(72, 72, 214);
  padding: 5px 20px;
  line-height: 24px;
}
.main-box > section > table td {
  color: black;
  background-color: rgb(218, 218, 248);
  min-height: 30px;
  padding: 2px 8px;
}
table td > h6{
	font-weight: normal;
	margin: 0;
}

h2 {
  text-align: center;
}
.register-parent {
  border-radius: 5px;
  margin: 0 auto;
  width: 500px;
  padding: 30px 10px;
  background-color: white;
}
h3 {
  margin: 0 10px;
}
h4 {
  margin: 0 20px;
}
.checkbox {
  margin: auto 10px auto 30px;
  border: rgb(103, 145, 103);
}
.register-flex {
  margin: 10px 20px;
  width: 440px;
  display: flex;
}
.register-flex > div {
  width: 130px;
  font-weight: bold;
}
.register-grid {
  margin: 5px auto 5px 50px;
  width: 440px;
  display: grid;
  grid-template-columns: 120px 120px 120px;
}
.register-grid > input {
  margin-bottom: 7px;
  margin-right: 10px;
}

.radio {
  margin: auto 10px auto 30px;
}
.register-button-flex {
  margin: 10px 20px;
  width: auto;
  display: flex;
  justify-content: right;
}
.select_box {
  margin: 10px auto 10px 30px;
}
.registerDate-parent {
  border-radius: 5px;
  margin: 0 auto;
  width: 800px;
  padding: 30px 10px;
  background-color: white;
}
.registerDate-grid {
  margin: 5px auto 5px 50px;
  width: 700px;
  display: grid;
  grid-template-columns: 170px 170px 170px 170px;
}
.registerDate-grid > input {
  margin-bottom: 7px;
  margin-right: 10px;
}
.registerDate-grid > div {
  margin: auto 0 0 0;
}
.list-parent{
  border-radius: 5px;
  margin: 0 auto;
  width: 350px;
  padding: 30px 10px 10px 10px;
  background-color: white;
  min-height: 200px;
}
.select-frame {
  border-radius: 50vh;
  margin: 10px auto;
  width: 300px;
  padding: 10px 10px;
  background-color: rgb(103, 145, 103);
  text-align: center;
  color: white;
  font-weight: bold;
}

.list-flex{
	margin: 30px auto 10px auto;
	width: 200px;
	display: flex;
	justify-content: center;
}

.easyModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-header > h1 {
  margin: 1rem 0;
}

.modal-header {
  background: lightblue;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
}


.modalClose {
  font-size: 2rem;
}

.modalClose:hover {
  cursor: pointer;
}

.modal-body {
  padding: 10px 20px;
  color: black;
}
