<web-app>
    <servlet>
        <servlet-name>TicketServletMapping</servlet-name>
        <servlet-class>servlet.TicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketServletMapping</servlet-name>
        <url-pattern>/TicketServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegisterServletMapping</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServletMapping</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegisterDateServletMapping</servlet-name>
        <servlet-class>servlet.RegisterDateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterDateServletMapping</servlet-name>
        <url-pattern>/RegisterDate</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TicketListServletMapping</servlet-name>
        <servlet-class>servlet.TicketListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketListServletMapping</servlet-name>
        <url-pattern>/TicketList</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TicketDeleteServletMapping</servlet-name>
        <servlet-class>servlet.TicketDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketDeleteServletMapping</servlet-name>
        <url-pattern>/TicketDelete</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TicketEditServletMapping</servlet-name>
        <servlet-class>servlet.TicketEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketEditServletMapping</servlet-name>
        <url-pattern>/TicketEdit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DateDeleteServletMapping</servlet-name>
        <servlet-class>servlet.DateDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DateDeleteServletMapping</servlet-name>
        <url-pattern>/DateDelete</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DateEditServletMapping</servlet-name>
        <servlet-class>servlet.DateEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DateEditServletMapping</servlet-name>
        <url-pattern>/DateEdit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PurchaseServletMapping</servlet-name>
        <servlet-class>servlet.PurchaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PurchaseServletMapping</servlet-name>
        <url-pattern>/PurchaseServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PurchasedServletMapping</servlet-name>
        <servlet-class>servlet.PurchasedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PurchasedServletMapping</servlet-name>
        <url-pattern>/Purchased</url-pattern>
    </servlet-mapping>
        
    
    
    
    













</web-app>